/* GLOBAL STYLES
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  font-family: 'Asap', sans-serif;
    padding-top: 20px;
    padding-bottom: 60px;
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  padding: 20px;
}

.pic {
     margin-top:50px; 
     width:120px;
     margin-left:50px;
     margin-bottom:-60px;
}

.name {
    position:absolute;
    padding-left:200px;
    font-size:30px;
}
.name span {
    font-size:12px;
    color: #014960;
}

a, .btn {
    cursor: pointer;
    color: #014960;
    text-decoration: none;
}
a:hover, 
.btn-link:hover, 
.btn-link:focus, 
.btn-link:active { 
    text-decoration: none; 
    color: #014960;
}

h2 { 
    font-family: 'Asap';
    color: #014960;
}
h3 {
    font-size: 18px;
}

/* Custom container */
.container {
    margin: 0 auto;
    max-width: 1000px;
}
.container > hr {
    margin: 40px 0;
}

 /* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Downsize the brand/project name a bit */
.navbar-brand {
  font-family: 'Lobster', cursive;
  display: block;
  float: left;
  font-size: 20px;
  font-weight: 200;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #014960;
}

.navbar-inverse {
    background-color: #014960;
    background-image: linear-gradient(to bottom, #014960, #014960);
    border-color: #014960;
}

.navbar-inverse .navbar-brand, .navbar-inverse .nav > li > a, 
.navbar-inverse .navbar-link {
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar-inverse .nav .active > a, 
.navbar-inverse .nav .active > a:hover, 
.navbar-inverse .nav .active > a:focus {
    background-color: #8ebfed;
    color: #FFFFFF;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, 
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle, 
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #014960;
    color: #FFFFFF;
}

.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: #fff;
}

.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus, 
.dropdown-submenu:hover > a, 
.dropdown-submenu:focus > a {
    background-color: #014960;
    background-image: linear-gradient(to bottom, #014960,#014960);
}

/* TOOLTIPS
-------------------------------------------------- */

.tooltip-inner {
    background-color: #014960;
}
.tooltip.top .tooltip-arrow {
    border-top-color: #014960;
}
.tooltip.right .tooltip-arrow {
    border-right-color: #014960;
}
.tooltip.left .tooltip-arrow {
    border-left-color: #014960;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #014960;
}


/* LABELS
-------------------------------------------------- */

.label-success, .badge-success {
    background-color: #014960;
}

.btn-group-label {
	margin-right: 20px;
}

/* BUTTON
-------------------------------------------------- */

.btn-group-vertical>.btn.active, .btn-group-vertical>.btn:active, .btn-group>.btn.active, .btn-group>.btn:active {
    background-color: #014960;
    background-image: linear-gradient(to bottom, #014960, #014960);
    background-repeat: repeat-x;
    border-color: #014960;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-success {
    background-color: #014960;
    background-image: linear-gradient(to bottom, #014960, #014960);
    background-repeat: repeat-x;
    border-color: #014960;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-success.disabled, 
.btn-success[disabled], 
fieldset[disabled] .btn-success, 
.btn-success.disabled:hover, 
.btn-success[disabled]:hover, fieldset[disabled] 
.btn-success:hover, .btn-success.disabled:focus, 
.btn-success[disabled]:focus, fieldset[disabled] 
.btn-success:focus, 
.btn-success.disabled:active, 
.btn-success[disabled]:active, 
fieldset[disabled] .btn-success:active, 
.btn-success.disabled.active, 
.btn-success.active[disabled], 
fieldset[disabled] .btn-success.active {
    background-color: #014960;
    outline: 0;
    border-color: #014960;
}

.btn-success:hover, 
.btn-success:focus, 
.btn-success:active, 
.btn-success.active, 
.open .dropdown-toggle.btn-success {
    background-color: #014960;
    border-color: #014960;
    color: #FFFFFF;
}

.btn-success:hover {
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
    animation-name: dzbounce;
    animation-timing-function: linear;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  margin-left: 10px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
.btn-circle a {
    color: #fff;
}

.counter-followers {
    background-color:#ccc;
    color:#e74c3c;
    padding:2px;
    font-size:9px;
    font-weight:bold;
}

/* BOXES
--------------------------------------------------- */

.glyphicon-heart, .fa-star { color:#e74c3c;}
.glyphicon-comment { color:#27ae60;}
.separator { padding-right:5px;padding-left:5px; }
.section-box h3 { margin-top:0px;}
.section-box hr {margin-top: 0;margin-bottom: 5px;border: 0;border-top: 1px solid rgb(199, 199, 199);}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

.carousel .item {
    height: 500px;
}
.carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

.carousel-caption h1,
.carousel-caption .lead {
    text-shadow: 0px 2px 3px #000;
    margin: 0;
    line-height: 1.25;
    color: #fff;
}
.carousel-caption h1 {
    font-family: 'Lobster', cursive;
    line-height: 1;
    font-size: 75px;
}
.carousel-caption h1 small {
    color: #fff;
}
.carousel-caption .btn {
    margin-top: 10px;
}

/* checkout steps */

.stepwizard-step p {
    margin-top: 10px;    
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;     
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
    
}

.stepwizard-step {    
    display: table-cell;
    text-align: center;
    position: relative;
}

/*-------------------------
	Dropbox Element
--------------------------*/

#dropbox{
	border-radius:3px;
	position: relative;
	margin:10px auto 90px;
	min-height: 290px;
	overflow: hidden;
	padding-bottom: 40px;
    width: 100%;
	border: 1px solid #bdbdbd;
}

#dropbox .message{
	font-size: 11px;
    text-align: center;
    padding-top:150px;
    display: block;
}

#dropbox:before{
	border-radius:3px 3px 0 0;
}

/*-------------------------
	Image Previews
--------------------------*/

#dropbox .preview{
	width:245px;
	height: 215px;
	float:left;
	margin: 55px 0 0 60px;
	position: relative;
	text-align: center;
}

#dropbox .preview img{
	max-width: 240px;
	max-height:180px;
	border:3px solid #fff;
	display: block;
	
	box-shadow:0 0 2px #000;
	-webkit-box-shadow:0 0 2px #000;
	-moz-box-shadow:0 0 2px #000;
}

#dropbox .imageHolder{
	display: inline-block;
	position:relative;
}

#dropbox .uploaded{
	position: absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background: url('../img/done.png') no-repeat center center rgba(255,255,255,0.5);
	display: none;
}

#dropbox .preview.done .uploaded{
	display: block;
}

/*-------------------------
	Progress Bars
--------------------------*/

#dropbox .progressHolder{
	position: absolute;
	background-color:#252f38;
	height:12px;
	width:100%;
	left:0;
	bottom: 0;
	
	box-shadow:0 0 2px #000;
	-webkit-box-shadow:0 0 2px #000;
	-moz-box-shadow:0 0 2px #000;
}

#dropbox .progress{
	background-color:#2586d0;
	position: absolute;
	height:100%;
	left:0;
	width:0;
	
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
	-moz-box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset;
	
	-moz-transition:0.25s;
	-webkit-transition:0.25s;
	-o-transition:0.25s;
	transition:0.25s;
}

#dropbox .preview.done .progress{
	width:100% !important;
}


/* CUSTOM CLASSES
-------------------------------------------------- */

.center { text-align: center; }
.text { cursor:text; }
.hasTip { cursor: pointer; }
.opacity:hover { opacity: 0.5; }
.bounce:hover {
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
    animation-name: dzbounce;
    animation-timing-function: linear;
}
@-moz-keyframes dzbounce {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(0.9);
    }
    50% {
    }
    75% {
    }
    100% {
    }
}
@-moz-keyframes dzbounce {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(0.9);
    }
    50% {
    }
    75% {
    }
    100% {
    }
}

/** TOUR **/

.tourtooltip{
	position:absolute;
	width:250px;
	left:0;
	top:0;
	background-color:black;
	color:white;
	z-index:999;
	border:2px solid #000;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
	z-index: 50000;
}
.tourtooltip p{
	padding:10px;
	font-size:14px;
	text-shadow:none;
	font-style:italic;
}
.tooltip_arrow{
	position:absolute;
	background-color:transparent;
	background-repeat:no-repeat;
}
.tooltip_arrow_T,
.tooltip_arrow_B,
.tooltip_arrow_TL,
.tooltip_arrow_TR,
.tooltip_arrow_BL,
.tooltip_arrow_BR{
	background-image:url(../img/topbottom.png);
	width:13px;
	height:7px;
}
.tooltip_arrow_L,
.tooltip_arrow_R,
.tooltip_arrow_LT,
.tooltip_arrow_LB,
.tooltip_arrow_RT,
.tooltip_arrow_RB{
	background-image:url(../img/leftright.png);
	width:7px;
	height:13px;
}
.tooltip_arrow_T{
	background-position:0px -7px;
	top:-7px;
	left:50%;
	margin-left:-3.5px;
}
.tooltip_arrow_TL{
	background-position:0px -7px;
	top:-7px;
	left:5px;
}
.tooltip_arrow_TR{
	background-position:0px -7px;
	top:-7px;
	right:5px;
}
.tooltip_arrow_B{
	background-position:0px 0px;
	bottom:-7px;
	left:50%;
	margin-left:-3.5px;
}
.tooltip_arrow_BL{
	background-position:0px 0px;
	bottom:-7px;
	left:5px;
}
.tooltip_arrow_BR{
	background-position:0px 0px;
	bottom:-7px;
	right:5px;
}
.tooltip_arrow_L{
	background-position:-7px 0px;
	top:50%;
	margin-top:-6.5px;
	left:-7px;
}
.tooltip_arrow_LT{
	background-position:-7px 0px;
	top:5px;
	left:-7px;
}
.tooltip_arrow_LB{
	background-position:-7px 0px;
	bottom:5px;
	left:-7px;
}
.tooltip_arrow_R{
	background-position:0px 0px;
	top:50%;
	margin-top:-6.5px;
	right:-7px;
}
.tooltip_arrow_RT{
	background-position:0px 0px;
	top:5px;
	right:-7px;
}
.tooltip_arrow_RB{
	background-position:0px 0px;
	bottom:5px;
	right:-7px;
}
.overlay{
	position:fixed;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	background:#000;
	opacity:0.5;
	z-index:100;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
.tourcontrols{
	position:fixed;
	top:150px;
	right:-300px;
	width:270px;
	background:#000;
	color:#fff;
	text-shadow:0px 0px 1px #fff;
	font-family: 'Asap', sans-serif;
	font-size:16px;
	padding:10px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	font-weight:bold;
	z-index:9999;
}
.tourcontrols a{
	font-size:11px;
	color:#f0f0f0;
	cursor:pointer;
	font-weight:normal;
	text-decoration:underline;
	margin:10px;
}
.tourcontrols a:hover{
	color:#fff;
}
.close{
	position:absolute;
	top:6px;
	right:7px;
	width:10px;
	height:10px;
	background:#000 url(../img/close.gif) no-repeat center center;
	cursor:pointer;
}
.tourcontrols p{
	padding:10px;
}
.navigation{
	clear:both;
	width:100%;
	float:left;
}
.page-header { border-bottom: none; }
.border-bottom { 
	border-bottom: 1px solid #e5e5e5;
  	margin: 40px 0 20px; 
}

div.DTTT_container {
  margin-bottom: 0;
}

/* combobox  */
.form-search .combobox-container,
.form-inline .combobox-container {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: top;
}
.form-search .combobox-container .input-group-addon,
.form-inline .combobox-container .input-group-addon {
  width: auto;
}
.combobox-selected .caret {
  display: none;
}
/* :not doesn't work in IE8 */
.combobox-container:not(.combobox-selected) .glyphicon-remove {
  display: none;
}
.typeahead-long {
  max-height: 300px;
  overflow-y: auto;
}
.control-group.error .combobox-container .add-on {
  color: #B94A48;
  border-color: #B94A48;
}
.control-group.error .combobox-container .caret {
  border-top-color: #B94A48;
}
.control-group.warning .combobox-container .add-on {
  color: #C09853;
  border-color: #C09853;
}
.control-group.warning .combobox-container .caret {
  border-top-color: #C09853;
}
.control-group.success .combobox-container .add-on {
  color: #468847;
  border-color: #468847;
}
.control-group.success .combobox-container .caret {
  border-top-color: #468847;
}
